@import '../styles/colors';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
  padding: 0;
  margin: 0;
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}

div.App {
  section.nav {
    div.home {
      text-align: center;
      background: $navPrimary;
      padding-top: 20px;

      a {
        text-decoration: none;
        font-size: 40px;
        color: white;
      }
    }
  }
}
