@import '../styles/colors';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
  padding: 0;
  margin: 0;
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}

div.App {
  section.nav {
    div.home {
      text-align: center;
      background: $primary;
      padding-top: 20px;

      a {
        text-decoration: none;
        font-size: 40px;
        color: $text;
      }
    }
  }
}

div.ReactModal__Overlay {
  text-align: center;
}
div.ReactModal__Content {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4) !important;
  background: linear-gradient(to right, #25c481, #25b7c4) !important;
  position: relative !important;
  top: inherit !important;
  left: inherit !important;
  right: inherit !important;
  bottom: inherit !important;
  display: inline-block !important;
  margin-top: 50px;
  color: $text;
  text-align: left;

  h2 {
    margin-top: 0px;
  }

  p {
    max-width: 200px;
  }

  label {
    display: block;

    div,
    select,
    input,
    textarea {
      margin-bottom: 5px;
      width: 100%;
    }

    input,
    textarea {
      background: rgba(255,255,255,0.3);
      border-style: hidden;
    }

    textarea {
      height: 200px;
      width: 500px;
    }
  }

  input[type="submit"],
  button {
    margin-right: 5px;
  }

  a {
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    font-size: 12px;
    text-decoration: none;
  }
}
