@import '../styles/colors';

div.CreateComment {
  background: rgba(255,255,255,0.3);
  margin: 30px 50px 10px 300px;
  padding: 10px;

  div.create {
    margin: 0;
    color: white;
  }

  label {
    display: block;
    font-size: 14px;
    color: grey;
    margin: 5px 0;

    div {
      vertical-align: top;
      margin-bottom: 5px;
    }

    textarea,
    input[type="text"] {
      background: rgba(255,255,255,0.3);
      border-style: hidden;
      width: 100%;
    }
  }

  input[type="submit"] {
    margin-right: 5px;
  }
}
