@import '../styles/colors';

div.PostsList {
  padding: 0 50px;
  margin-top: 50px;

  table {
    width:100%;
    table-layout: fixed;
    border-collapse: collapse;

    thead {
      background-color: rgba(255,255,255,0.3);

      th{
        padding: 20px 15px;
        text-align: left;
        font-weight: 500;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
      }
    }

    tbody {
      height:300px;
      overflow-x:auto;
      margin-top: 0px;
      border: 1px solid rgba(255,255,255,0.3);

      td {
        padding: 15px;
        text-align: left;
        vertical-align:middle;
        font-weight: 300;
        font-size: 12px;
        color: #fff;
        border-bottom: solid 1px rgba(255,255,255,0.1);

        a.post {
          color: black;
        }
      }
    }
  }

  button {
    background-color: transparent;
    border: none;

    &:hover.up {
      color: green;
    }
    &:hover.down {
      color: red;
    }
  }

  div.vote-score {
    display: inline-block;
    width: 20px;
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}
